<div class="container-lg mt-3">
      <h1>Сайты</h1>


  <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
      <tbody>
        <tr>
          <th>ID</th>
          <th>Имя</th>
          <th>Последняя проверка</th>
          <th>Код ответа</th>
        </tr>
      {% for site in sites %}
          <tr>
            <td>{{ site[0] }}</td>
            <td>
              <a href="{{ url_for('routes.site',_id=site[0]) }}">
                {{ site[1] }}
              </a>
            </td>
            <td>{% if site[2] %} {{ site[2] | datetime_format }} {% else %}  {% endif %}</td>
            <td>{{ site[3] or '' }}</td>
          </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>

</div>