<h2 class="mt-5 mb-3">Проверки</h2>

<form method="post" action="{{ url_for('routes.check_url', _id=site[0]) }}">

    <input type="submit" class="btn btn-primary" value="Запустить проверку">

</form>

<div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
      <tbody>
    <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
    </tr>

      </tbody>
    </table>
</div>