{% with flash = get_flashed_messages(with_categories=true) %}
{% if flash %}
{% for cat, msg in flash %}
  {% if cat == 'success' %}
    <div class="alert alert-success" role="alert"> {{ msg }} </div>
  {% else %}
    <div class="alert alert-primary" role="alert"> {{ msg }} </div>
{% endif %}

{% endfor %}
{% endif %}
{% endwith %}
<h1>Сайт: {{ site[1] }}</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{ site[0] }}</td>
        </tr>
        <tr>
          <td>Имя</td>
          <td>{{ site[1] }}</td>
        </tr>
        <tr>
          <td>Дата создания</td>
          <td>{{ site[2] | datetime_format }}</td>
        </tr>
      </tbody>
    </table>
</div>